.reply.push-1 {margin-left: 20px;}
.reply.push-2 {margin-left: 40px;}
.reply.push-3 {margin-left: 60px;}
.reply.push-4 {margin-left: 80px;}
.reply.push-5 {margin-left: 100px;}
.reply.push-6 {margin-left: 120px;}
.reply.push-7 {margin-left: 140px;}
.reply.push-8 {margin-left: 160px;}
.reply.push-9 {margin-left: 180px;}
.reply.push-10 {margin-left: 200px;}

div.reply {
border: 1px solid #494949;
}